.generic-content-container {
    p {
        font-weight: 300;
        line-height: 1.42;
        margin: 0 0 1.8rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
            line-height: 1.45;
        }

        @mixin atMedium {
            line-height: 1.5;
        }

        @mixin atLarge {
            list-style: 1.6;
        }

        a {
            font-weight: 700;
        }
    }
}